* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  font-size: 12px;
}

header {
  background-color: #373b69;
  display: flex;
  justify-content: flex-end;
  padding: 0.75rem;
}

.search {
  border-radius: 50px;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid #22254b;
  font-family: inherit;
  font-size: 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  /* height: 400px; */
  width: 200px;
  margin: 0.75rem;
  /* flex-basis: 1; */
  overflow: hidden;
  position: relative;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}

.movie .overview {
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1rem;
  transform: translateY(100%);
  overflow: hidden;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
  top: 0;
}
