* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  /* height: 400px; */
  width: 300px;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  letter-spacing: 1px;
}

.movie-info h3 {
  margin: 0;
}
